	<!-- submit modal message start -->
	<div id="submit-modal-success">
		<p>Спасибо!</p>
		<p>Наши менеджеры свяжутся с вами в ближайшее время!</p>
	</div>
	<div id="submit-modal-error">
		<p>Ошибка!</p>
		<p>Попробуйте еще раз!</p>
	</div>
	<!-- submit modal message end -->
	
		<!-- <script defer src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
	<script defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhn7NAfPq0XYmNax-QcqXxzkcTtBwDyAw">
	</script>
	{{#each htmlWebpackPlugin.files.js}}<script defer src="{{this}}"></script>{{/each}}
</body>
</html>